<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/utils/header.js') }}"></script>
    <div class="logo">
        <a href="/inicio"><strong>TNGLore</strong></a>
    </div>
    <nav>
        <ul>
            <li><a href="/mi-coleccion"><strong>Mi Colección</strong></a></li>
            <li><a href="/cofres"><strong>Mis Cofres</strong></a></li>
            <li><a href="/colecciones"><strong>Colecciones</strong></a></li>
            <li>
                <a href="/perfil">
                    <img id="profile-icon" src="https://www.whoseno.com/images/user-icon.png" alt="Perfil" class="profile-icon">
                </a>
            </li>
            <li id="admin-panel" style="display: none;">
                <a href="/admin"><strong>Panel de Administrador</strong></a>
            </li>
        </ul>
    </nav>
    <button class="nav-toggle">
        <span class="material-icons menu" style="font-size: 64px;">menu</span>
    </button>
</header>