#contenedor-colecciones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.seccion-coleccion {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 1rem;
}

.contenedor-cartas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .contenedor-cartas {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estilos para las tarjetas */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image-container {
    width: 100%;
    padding-top: 100%; /* Aspect ratio 1:1 */
    position: relative;
    overflow: hidden;
}

.coleccion-card .card-image-container {
    padding-top: 0%;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.coleccion-card .card-image {
    object-fit: contain; /* Cambiado de 'cover' a 'contain' para asegurar que se vea toda la imagen */
}

.card-content {
    padding: 1rem;
    cursor: pointer;
}

.card-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-rarity {
    font-weight: bold;
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}

/* Colores de rareza */
.card-rarity.comun {
    color: gray;
}
.card-rarity.rara {
    color: green;
}
.card-rarity.epica {
    color: purple;
}
.card-rarity.legendaria {
    color: goldenrod;
}
