<!DOCTYPE html>
<html lang="es">
<head>
    <!-- ...existing head elements... -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ images['icons']['favicon'] }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/faq.css') }}">
    <title>FAQ - TNGLore</title>
</head>
<body>
    {% include 'components/header.html' %}
    <main>
        <article class="faq-content">
            <section>
                <h1>FAQ</h1>
                <h2>¿Qué es esto?</h2>
                <p>Es un proyecto creado por <strong>José Gallardo</strong>. Por hablar en cualquier canal de texto o estar conectado cierto tiempo a un canal de voz, puedes recibir cofres con cartas únicas por servidor y otras generales.</p>
                <h2>¿Es esto una estafa piramidal?</h2>
                <p>Ojalá.</p>
                <h2>¿Puedo evitar participar en la ganancia de cofres?</h2>
                <p>Sí. Puedes borrar tu cuenta y, cuando te toque otro cofre, el bot no te reconocerá y te notificará que no recibirás más cofres.</p>
                <h2>¿Cómo puedo abrir los cofres?</h2>
                <p>Visita <a id="abrir-cofres-info" href="https://tnglore.vercel.app/cofres" target="_blank">https://tnglore.vercel.app/cofres</a> para abrirlos.</p>
                <h2>¿Qué hago si encuentro un error?</h2>
                <p>Contacta con el equipo de TNGLore a través Discord.</p>
                <h2>¿Cuáles son las probabilidades de conseguir cofres? ¿Y las cartas?</h2>
                <p>Las probabilidades de conseguir cofres son del 5% por mensaje enviado y 20% cada 30min en un canal de voz. Puedes conseguir hasta un máximo de 2 cofres diarios por el canal de voz. Hay 4 cofres diferentes, cada uno con una rareza distinta. Las probabilidades de conseguir cartas son:</p>
                <ul>
                    <li><strong>Común</strong>: 50%</li>
                    <li><strong>Raro</strong>: 30%</li>
                    <li><strong>Épico</strong>: 15%</li>
                    <li><strong>Legendario</strong>: 5%</li>
                </ul>
                <p>Las cartas dependen de los cofres que abras. Las probabilidades de las cartas en cada cofre son:</p>
                <ul>
                    <li><strong>Común</strong> (2 cartas): 70%, 16%, 12%, 2%</li>
                    <li><strong>Raro</strong> (3 cartas): 35%, 45%, 15%, 5%</li>
                    <li><strong>Épico</strong> (4 cartas): 20%, 30%, 35%, 15%</li>
                    <li><strong>Legendario</strong> (5 cartas): 10%, 25%, 35%, 30%</li>
                </ul>
            </section>
        </article>
    </main>
</body>
</html>
