<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TNGLore - Inicio</title>
    <link rel="icon" href="/assets/icons/El_Super.webp" type="image/webp">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/components/header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Incluir el header -->
    <header>
        <div class="logo">
            <a href="/inicio"><strong>TNGLore</strong></a>
        </div>
        <nav>
            <ul>
            <li><a href="/coleccion"><strong>Mi Colección</strong></a></li>
            <li><a href="/cofres"><strong>Mis Cofres</strong></a></li>
            <li><a href="/colecciones"><strong>Colecciones</strong></a></li>
            <li>
                <a href="/perfil">
                    <span class="{{ images['icons']['default_profile'] }}" style="font-size: 48px;">perfil</span>
                </a>
            </li>
                <!-- Panel de administrador (se mostrará si el usuario es administrador) -->
                <!--
                <li><a href="/admin">Panel de Administrador</a></li>
                -->
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        <h1>Bienvenido a TNGLore</h1>
        <!-- Agrega aquí el contenido que desees -->
    </main>

    <script src="/js/main.js"></script>
</body>
</html>