<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ images['icons']['favicon'] }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../../static/js/pages/inicio.js"></script>
    <title>TNGLore - Inicio</title>
</head>
<body>
    <!-- Encabezado -->
    {% include 'components/header.html' %}

    <!-- Contenido principal -->
    <main>
        <h1>Bienvenido a TNGLore</h1>
        <!-- Agrega aquí el contenido que desees -->
    </main>
</body>
</html>