<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ images['icons']['favicon'] }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>TNGLore - Mis Colecciones</title>
</head>
<body>
    <!-- Encabezado -->
    {% include 'components/header.html' %}

    <!-- Contenido principal -->
    <main>
        <h1>Bienvenido a TNGLore</h1>
        <!-- Agrega aquí el contenido que desees -->
    </main>
</body>
</html>