header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4d7cff;
}

body.menu-open {
    overflow: hidden;
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.logo a:hover {
    color: #ffffff;
}

nav {
    margin-left: auto; /* Mueve nav a la derecha */
}

/* Estilos para el menú desplegable */
nav ul {
    display: none;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: transform 0.3s ease;
}

nav ul.active {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Efecto hover para los elementos del menú */
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease; /* Añadido para suavizar la transición */
}

nav ul li a:hover,
nav ul li a:active {
    color: #ffffff;
}

.nav-toggle {
    display: none; /* Oculto por defecto */
    cursor: pointer;
    background: none;
    border: none;
    color: #000000;
    padding: 2rem;
    transition: color 0.3s ease; /* Transición para el efecto hover */
}

.nav-toggle:hover,
.nav-toggle:active {
    color: #ffffff; /* Cambio a color blanco en hover y active */
}

/* Ajustes para pantallas grandes */
@media (min-width: 901px) {
    .nav-toggle {
        display: none !important; /* Aseguramos que esté oculto en pantallas grandes */
    }

    nav ul {
        display: flex !important; /* Aseguramos que el menú siempre esté visible en pantallas grandes */
    }
}

@media (max-width: 900px) {
    header {
        padding: 0;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo a {
        padding: 2rem;
        color: #000000;
        text-decoration: none;
        font-size: 400%; /* Aumentar tamaño del título */
        font-weight: bold;
    }

    .nav-toggle {
        display: block; /* Mostramos el botón en pantallas pequeñas */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Distribuye los elementos verticalmente */
        align-items: stretch; /* Estira los elementos horizontalmente */
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: #4d7cff;
        padding: 2rem 1rem; /* Reducido el padding horizontal */
        transition: right 0.3s ease;
        z-index: 1000;
    }

    nav ul.active {
        right: 0;
    }

    nav ul li {
        flex-grow: 1; /* Permite que los elementos crezcan */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem; /* Espacio entre elementos */
    }

    nav ul li:last-child {
        margin-bottom: 0; /* Elimina el margen del último elemento */
    }

    nav ul li a {
        width: 100%; /* Ocupa todo el ancho disponible */
        padding: 1rem 0.5rem; /* Aumenta el área clickeable */
        text-align: center;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Ajuste para el ícono de perfil */
    nav ul li a .material-icons.person {
        font-size: 128px !important; /* Ajusta el tamaño del ícono */
    }

    /* Estilo para el botón de administrador */
    #admin-panel a {
        background-color: #ff4d4d; /* Color distintivo para el botón de admin */
        border-radius: 5px; /* Bordes redondeados */
    }
}