header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4d7cff;
}

body.menu-open {
    overflow: hidden;
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.logo a:hover {
    color: #ffffff;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: transform 0.3s ease;
}

nav ul.active {
    transform: translateX(0);
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a:active {
    color: #ffffff;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    color: #000000;
    padding: 2rem;
    transition: color 0.3s;
}

.nav-toggle:hover,
.nav-toggle:active {
    color: #ffffff;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.profile-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 900px) {
    header {
        padding: 0;
        position: relative;
    }

    .logo a {
        padding: 2rem;
        font-size: 2rem;
    }

    .nav-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: #4d7cff;
        padding: 2rem 1rem;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    nav ul.active {
        right: 0;
    }

    nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }

    nav ul li a {
        width: 50%;
        padding: 1rem 0.5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .profile-icon {
        width: 96px !important;
        height: 96px !important;
    }
}